/* PAGE D'ACCUEIL */

html {
    overflow: visible;
    overflow: scroll;
    overflow-x: visible;
}
::-webkit-scrollbar {
    /* width: 5px;  Resize scrollbar space */
    background: rgba(0, 0, 0, 0.8);  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in color */
::-webkit-scrollbar-thumb {
    background: rgb(141, 103, 32);
}
#clear{
    clear: both;
}

body{
    /* background: rgb(197, 183, 145); */
    display:block;
    font-family: Vogue, serif;
    width:100%;
    height:100%;
    background-image: url('../img/fondMain.jpg');

}

/* MAIN */
main{
    /* background-color: rgb(245, 224, 201); */
    /* background-image: url('../img/fondMain.jpg'); */
    display: block;
    width:100%;
    height:100%;
}

#partiesDeMain1 {
    /* margin-bottom:100px;
    margin-top:100px;	 */
    width:50%;
    margin:auto;
    background-color: rgba(41, 41, 41, 0.5);
    border: 5px solid rgb(245, 224, 201);
    box-shadow: 0 0 10px black;
    /* background-image: url('../img/zebre.png'); */
	opacity:1;
}
#titreDePartieDeMain1{
    z-index:50000;
    /* box-shadow: 0px 0px 10px rgb(0, 0, 0); */
    text-shadow: rgb(255, 255, 255) 0em 0em 0.1em;
    margin: 5px 0;
    /* background-image: url('../img/fondTopArticles11.jpg'); */
    /* background-image: url('../img/background-leopard-2.jpg'); */
    /* background-color: rgba(255, 255, 255, 0.5); */
    color:rgb(245, 224, 201);
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    font-size:250%;
    width:100%;
    /* margin:auto; */
    font-family: Vogue;
}
#partiesDeMain2 {
    margin-top:500px;	
    width:100%;
    margin:auto;
    
    /* color: black ; */
    
	opacity:1;
}
#titreDePartieDeMain2{
    display:none;
    z-index:50000;
    box-shadow: 0px 0px 10px black;
    text-shadow: rgb(0, 0, 0) 0em 0em 0.1em;
    margin-top:20px;
    background-color: rgb(8, 8, 8);
    /* background-image: url('../img/background-leopard-2.jpg'); */
    color:rgb(255, 255, 255);
    border-bottom: 1px solid black;
    font-size:250%;
    width:100%;
    margin:auto;
    font-family: Vogue;
}
.partiesDeMain{
    text-transform: capitalize;
}
#titreDePartieDeMainCuir{
    z-index:50000;
    box-shadow: 0px 0px 10px black;
    text-shadow: rgb(0, 0, 0) 0em 0em 0.2em;
    margin-top:20px;
    background-image: url('../img/fondCuirBeige.jpg');
    text-transform: capitalize ;
    color:rgb(255, 255, 255);
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size:250%;
    font-family: Vogue;
    width:50%;
    margin:auto;
}
#titreDePartieDeMainSynth{
    z-index:50000;
    box-shadow: 0px 0px 10px black;
    text-shadow: rgb(0, 0, 0) 0em 0em 0.2em;
    margin-top:20px;
    background-image: url('../img/fondSynth.jpg');
    /* text-transform: capitalize; */
    color:rgb(255, 255, 255);
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size:250%;
    font-family: Vogue;
    width:50%;
    margin:auto;
}
#titreDePartieDeMainAutre{
    z-index:50000;
    box-shadow: 0px 0px 10px black;
    text-shadow: rgb(0, 0, 0) 0em 0em 0.2em;
    margin-top:20px;
    background-image: url('../img/fondAutre.jpg');
    /* text-transform: uppercase; */
    color:rgb(255, 255, 255);
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size:250%;
    font-family: Vogue;
    width:50%;
    margin:auto;
}
/* MAIN CAROUSEL ACCUEIL*/
#monCarousel{
    /* max-height: 520px; */
    width:100%;
    /* max-height: 520px; */
    box-shadow: 0px 0px 10px black;
}
.carousel-inner{
    max-height: 650px;
}
/* .img-responsive{
    max-height: 520px;
} */
#lienCategorie{
    width: 100%;
    margin: auto;
}
#monCarousel a{
    text-decoration:none;
    color:rgb(207, 143, 24);
    font-size:250%;
}

/* #monCarousel h3{
    max-width:350px;
    margin:0 0;
    cursor:pointer;
    border-radius:20px;
    background-color: rgba(0, 0, 0, 0.596);
    font-size:40px;
} */
#descriptionsCategories{
    width:50%;
    height:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    border-radius:5px;
    margin-top:0px;
    background-color: rgba(255, 255, 255, 0.5);
}
#monCarousel #descriptionsCategories:hover a{
    color:white;
    background-color: rgb(126, 34, 34);
}
#descriptionsCategories p{
    width:100%;
    margin:auto;
    font-size:20px;
    color:black;
}
/* MAIN TOP MODELES*/

#mainDeLaPageCategories #Test h2{
    border: 5px solid rgb(245, 224, 201);
    font-family: Vogue;
    font-size: 1000%;
    /* font-weight: bolder; */
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    padding-bottom:57px;
}
/* #Test{
} */
#test{
    font-family: vogue;
    background-color: rgba(192, 192, 192, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* background-image: url('../img/background-leopard-2.jpg'); */
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom:-49px;
}
#test h1{
    border: 5px solid rgb(245, 224, 201);
    font-family: Vogue;
    font-size: large;
    font-size: 400%;
    /* font-weight: bolder; */
    /* text-shadow: black 0.1em 0.1em 0.2em; */
    padding-bottom:57px;
}
.parent1TM{
     display:flex;
     
     justify-content: center;
    /*flex-wrap: nowrap; */
    /* justify-content: center; */
    /* background-image: url('../img/bricks.jpg'); */
    margin: 0 0 50px 0;
    padding:0 0 0px 0;
    min-height: 350px;
}
.parent1TMdiv{
    background-image: url('/img/fondLeopard4.jpg');
    /* background-color: rgba(41, 41, 41, 0.5); */
    border: 5px solid rgb(245, 224, 201);
    box-shadow: 0 0 10px black;
    margin:5px 5px;
    
}
/* .parent1TMdiv:hover #hideScrollingWrapper{
    display:block;
    margin:10px;
    width: 100%;
    height:100%;
    transition-duration: 0.5s;
} */
/* .parent1TMdiv #sousMenu{
    display:block;
    
    width:230px;
    height:230px;
    margin:auto;
    border-top-right-radius: 50px ;
    transition-duration:1s;
    text-align: center;
    font-family: vogue;
    box-shadow: 0 0 10px black;
} */
/* .parent1TMdiv:hover #sousMenu{
    display:none;
}
.parent1TMdiv:hover #sousMenu h3{
    opacity:0;
} */
/* .parent1TMdiv:hover #hideScrollingWrapper h2{
    width:250px;
    background-color:rgba(160, 112, 23, 0.789);
    color:black;
    transition-duration: 1s;
} */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
/* .scrolling-wrapper img{
    max-width:200px;
} */
/* #hideScrollingWrapper{
    position: absolute;
    margin:5px 0;
    padding:20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition-delay: 0.5s;
    transition-duration: 0.1s;
} */
#hideScrollingWrapper h2{
    box-shadow: 0px 0px 10px black;
    background-color:rgba(255, 255, 255, 0.9);
    color:rgb(0, 0, 0);
    width:100%;
    /* margin-top: 50px; */
    margin: auto;
    font-family: vogue;
    font-size:250%;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid  rgb(0, 0, 0);
    /* border-top-right-radius: 50px;
    border-top-left-radius: 50px; */
    transition-duration: 1s;
}
#hideScrollingWrapper h2:hover{
    background-color:rgba(0, 0, 0, 0.9);
    color:rgb(255, 255, 255);
    font-size: 270%;
}
#hideScrollingWrapper a{
    text-decoration: none;
}
/* #hideScrollingWrapper:hover{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition-duration: 1s;
} */
#hideScrollingWrapper #TOPMODELES{
    display:flex;
    width:100%;
    opacity: 1;
    transition-duration: 0.5s;
}
/* #hideScrollingWrapper:hover #TOPMODELES{
    display:flex;
    width:100%;
    opacity: 1;
    transition-duration: 0.5s;
} */
div.carousel-caption{
    bottom:45px;
}
div.carousel-caption a{
    text-transform: uppercase;
    display:none;
    max-width: 100px;
    padding:10px;
    margin: auto;
    font-size:20px;
    text-decoration: none;
    color:white;
    background-color: rgba(0, 0, 0, 0.623);
}
div.carousel-caption a:hover{
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.623);
}

#TOPMODELES div.item:hover div.carousel-caption a{
    display:block;
}
#TOPMODELES h2{
    width:50%;
    margin: auto 1px auto 0;
    text-shadow: rgb(0, 0, 0) 0.1em 0.2em;
}
#TopMODELES{
    margin:auto;
}
.cardsPageArticle{
    margin:10px;
}
.cardsPageArticle:hover{
    background-color: rgba(0, 0, 0, 0.5);
    
    border-radius:5px;
    box-shadow: 0 0 1px black;
}
.cardsPageArticle:hover #carouselTopSacamain h3, .cardsPageArticle:hover #carouselTopBandoulière h3, .cardsPageArticle:hover #carouselTopItBag h3, .cardsPageArticle:hover #carouselTopBanane h3{
    background-color: rgba(255, 255, 255, 0.8);
    color:black;
}
.cardsPageArticle:hover img{
    opacity: 1;
}
.cardsPageArticle img{
    opacity:0.9;
}
.card {
    /* opacity:0;
    height:0px; */
    width:400px;
    background-color: rgba(255, 255, 255, 0);
    opacity:0.95;
    margin:0 20px;
    /* width:0px;
    font-size:0px; */
    transition-duration: 0.5s;
}
/* #TOPMODELES:hover .card{
    opacity:1;
    height:100%;
    min-width:400px;
    font-size:20px;
    transition-delay: 0s;
    transition-duration: 1s;
} */
.parent1TMdiv:hover .card{
    opacity:1;
    /* height:100%; */
    width:400px;
    font-size:20px;
    transition-delay: 0s;
    color:white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
    transition-duration: 0.5s;    
}
/* .card h3{ */
    /* opacity:0; */
    /* position: relative;
    top:0px;
    background-color: rgba(211, 211, 211, 0.2);
    font-size:120%;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
    width:100%;
    margin:auto;
    color:rgb(0, 0, 0);
    transition-duration: 0.1s;} */
/* .card:hover h3{
    opacity:1;
    font-size:190%;
    background-color: rgb(126, 34, 34);
    box-shadow: 0px 0px 3px black;
    color:white;
    width:100%;
    transition-duration: 1s;} */
.card img{
    border-radius: 5px;
    max-width:200px;
}

.card a.left.carousel-control{
    display: none;}
.card a.right.carousel-control{
    display: none;}


/* MAIN QUI SOMME NOUS ?*/
#quiSommeNous{
    z-index: 1;
    text-align: center;
    border: 5px solid rgb(216, 186, 152);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(56, 55, 55);
    width:100%;
    min-height:260px;
    transition-duration: 1s;
}
/* #quiSommeNous:hover{
    box-shadow: 0px 0px 40px rgb(56, 55, 55);
    transition-duration: 1s;
}  */
.quiSommeNous{
    top:30px;
    
    text-align: center;
    width:100%;
    width:100%;
}
.quiSommeNous p{
    display:block;
    width:100%;
    font-size: 100%;
}
.quiSommeNous h2{    
    text-align: center;
    font-family: vogue;
    box-shadow:5px 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-color:rgba(184, 161, 59, 0.789);
    color:rgb(0, 0, 0);
    width:50%;
    padding:0.5%;
    margin:0 25%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    transition-duration: 1s;
}

.quiSommeNous:hover h2{    
    background-color: rgb(126, 34, 34);
    color:rgb(255, 255, 255);
    margin:0 15%;
    width:70%;
    top:-30px;
    transition-duration: 1s;
}
#backG{
    text-align: center;
    color: white;
    font-size: 0%;
    opacity: 0;
    width:100%;
    height:100%;
    margin:auto;
    bottom:30px;
    transition-duration: 1s;
}
.quiSommeNous:hover #backG{
    font-size: 130%;
    opacity: 1;
    width:100%;
    background-color: rgba(0, 0, 0, 0.39);
    /* box-shadow:5px 10px 10px 5px rgba(0, 0, 0, 0.5); */
    transition-duration: 1s;
} 
#carouselTopSacamain, #carouselTopBandoulière, #carouselTopItBag, #carouselTopBanane, #carouselTopAutres{

    /* padding: 10px 10px; */
    margin:0px 0px;
    transition-duration: 0.5s;
}
#carouselTopSacamain, #carouselTopBandoulière, #carouselTopItBag, #carouselTopBanane, #carouselTopAutres:hover{

    transition-duration: 0.5s;
}
#carouselTopSacamain h3, #carouselTopBandoulière h3, #carouselTopItBag h3, #carouselTopBanane h3, #carouselTopAutres h3{
    width:60%;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    border: 3px solid rgb(202, 172, 151);
}


/* MAIN etapes d'achat*/
#etapes-achat{
    display: flex;
    z-index: 2;
    /* background-image: url('../img/background-leopard-2.jpg'); */
    /* background-color: rgba(0, 0, 0, 0); */
    /* margin-top:2%; */
    padding-top:5px;
    padding-bottom:5px;
    /* box-shadow: 0px 0px 10px black; */
}
/* main #etapes-achat ul{
    display:flex;
    justify-content: center;
    align-content: center;
} */
#etapes-achat img{
    max-width:100px;
}

#etapes-achat div{
    list-style: none;
    margin:0px 10px 10px 2.5px;
    border-radius:3px;
    /* border:1px solid black; */
    /* margin:auto;
    left:0;
    right:0; */
    /* max-width: 270px; */
    /*max-height: 400px; */
    /* background-image: url('../img/fondMain.jpg'); */
    background-color: rgba(235, 235, 235, 0.9);
    box-shadow: 1px 1px 5px black;
    transition-duration: 1s;
    /* box-shadow: 0px 0px 40px rgb(61, 54, 44); */
}
#etapes-achat div:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px black;
    transition-duration: 1s;
}
#etapes-achat div h4{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 5px;
    color:rgb(34, 34, 34);
}
#etapes-achat div:hover h4{
    color: rgb(255, 255, 255);
    background-color: rgb(126, 34, 34);
}
#etapes-achat div p{
    padding-left:2.5%;
    line-height: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
#etapes-achat div a{
    text-decoration: none;
}




/* PAGE CATEGORIES */
#presentationSousCat{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin:0px 0;
    
}
#sousCat{
    width:300px;
    margin:2%;
}
.rond{
    margin:auto;
}
.n1{
    box-shadow: 0 0 10px black;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: vogue;
    text-transform: capitalize;
    text-shadow: rgb(0, 0, 0) 0em 0em 1em;
}
#n1Cuir{
    background-image: url('../img/fondCuirMarron.jpg');
}
#sousMenuCuir{
    background-image: url('../img/fondCuirMarron.jpg');
}
#sousMenu{
    background-image:url('../img/fondCuirMarron.jpg');
}
#sousMenu h3{
    position:absolute;
    width:200px;
    margin-top: 85px;
    text-transform: uppercase;
    box-shadow: 0 0 10px black;
    background-color: rgba(190, 141, 49, 0.603);
    color:rgb(255, 255, 255);
    opacity:1;
}
#n1Synth{
    background-image:url('../img/fondSynthFonce2.jpg');
}
#sousMenuSynth{
    background-image:url('../img/fondSynthFonce2.jpg');
}
#n1Autre{
    background-image:url('../img/fondJeanDelave2.jpg');
}
#sousMenuAutre{
    background-image:url('../img/fondJeanDelave2.jpg');
}
/* #sousMenuAutre{
    background-image:url('../img/fondJeanDelave2.jpg');
} */
.cacherSousMenu{
    position:absolute;
    display:none;
    width:80%;
    height:95%;
    margin:auto;
    text-align: center;
    font-family: vogue;
    /* background-color: wheat; */
    box-shadow: 0 0 10px black;
    border-radius: 50%;
}
.cacherSousMenu h3{
    position:absolute;
    width:100%;
    margin:100px 0;
    text-transform: uppercase;
    box-shadow: 0 0 10px black;
    background-color: rgba(0, 0, 0, 0.7);
    color:rgb(255, 255, 255);
}
.cacherSousMenu h3:hover{
    background-color: rgba(145, 109, 54, 0.5);
    color:white;
    transition-duration: 0.5s;
}
#sousCat ol, #sousCatFleche{
    display:none;
}
#sousCat:hover .n1{
    display:none;
}
#sousCat:hover #c-ind{
    display:none;
}
#sousCat:hover #c-inn{
    display:none;
}
#sousCat:hover .cacherSousMenu{
    display:block;
    
    position:relative;
    top:20px;
}

#presentationArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* background-image: url('../img/fondCuirBeige.jpg'); */
    background-color: rgba(192, 192, 192, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    top:5%;
    width:100%;
    padding: 25px 0;
    transition-duration: 1s;
}
/* .presentationArticles:hover{
    background-color:rgb(255, 255, 255);
    transition-duration: 1s;
} */
/* .presentationArticles h3{
    background-color: rgb(255, 255, 255);
    transition-duration: 1s;
}
.presentationArticles:hover h3{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px black;
    border-radius:5%;
    transition-duration: 1s;
} */

#articlesDansCat{
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding:0px;
    margin:5px;
    width:300px;
}
#articlesDansCat:hover{
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.513);
}
#articlesDansCat #flechesCarousel{
    display:none;
}
#articlesDansCat ol{
    display:none;
}
.articlesDansCat{
    margin-bottom:50px;
}
.sousImgArticle{
    display:flex;
    justify-content: center;
    align-content: center;
    max-width:200px;
    margin: auto;
    background-color: rgba(136, 136, 136, 0.5);
    box-shadow: 0 0 10px black;
    /* border: 5px solid rgb(245, 224, 201); */
}
.sousImgArticle p{
    margin:auto;
    color:rgb(0, 0, 0);
    font-size: 20px;
}
.sousImgArticle p span{
    color:brown;
    font-weight: 700;
}
.sousImgArticle img{
    width:30px;
    margin: 15px 15px 0 0;
}